@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import "sidebar";
@import "config";
@import "bootstrap/dist/css/bootstrap.min.css";

/* This file is for your main application CSS */
main{
  }
  
.containerz{
  display: grid;
  width: 100%;
  padding-left: 0rem;
  margin: 0 auto;
  gap: 0rem;
  grid-template-columns: 16rem auto;
  height: 100%;
}

.container {
  position: relative;
  display: inline-block;
}

#myImage {
  display: block;
}

#myCanvas {
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none; /* Makes sure clicks go through to the image if needed */
}

.stream-img {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  object-fit: contain;
}

.minimap-stream-img {
  clip-path: inset(40px 0px 20px 0px);
  /* transform: rotate(90deg); */
  object-fit: contain;
  object-position: 30% 0; 
  background-color: aqua;
  max-width: 500px;
  max-height: 500px;
}

.sidebar-2 {
  max-width: 120rem;
}